bin/
obj/
*.dll
*.exe
*.pdb
*.cache

api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.sourcelink.json

api/bin/Debug/net8.0/appsettings.Development.json
appsettings.Development.json
*.Development.json
appsettings.json

api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt